.molle-regular-italic {
    font-family: "Molle", cursive;
    font-weight: 400;
    font-style: italic;
}

.jockey-one-regular {
    font-family: "Jockey One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.gothic-a1-regular {
    font-family: "Gothic A1", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0 auto;
}

header {
    background-color: #E1EFF2;
    width: 100%;
    height: 250px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

h1 {
    font-family: "Molle", cursive;
    font-weight: 600;
    font-style: italic;
    font-size: 50px;
    padding: 40px 0 0 145px;
    color: #006075;
}

header p {
    padding-left: 150px;
    color: #1E7A8E;
}

h2 {
    font-family: "Jockey One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    color: #217587;
}

p, li, a {
    font-family: "Gothic A1", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #1E7A8E;
}

ul li {
    display: block;
    text-decoration: none;
    list-style-type: none;
    padding-bottom: 6px;
}

main {
    display: flex;
    flex-direction: row;
    margin-top: 255px;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}

article {
    flex: 0 1 200px;
    height: 280px;
    padding: 1.5em 2.5em;
    background-color: #E1EFF2;
    border-radius: 110px;
    margin: 12px;
}

main :hover {
    background-color: #FFEBA7;
    transition: background-color 0.3s ease-in-out;
}

footer {
    background-color: #E1EFF2;
    width: 100%;
    height: 70px;
    text-align: center;
    position: fixed;
    bottom: 0;
}

footer p, footer a {
    font-size: 14px;
    padding-top: 8px;
}